@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #CACACA, #878787);
   
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #64646485;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #00747C;
    text-align: center;
    text-shadow: 1px 1px 2px #01545a83;
}

h2 {
    color: #00BBC9;
}

p {
    text-align: justify;
}