@charset "UTF-8";
/*Regra charset caso haja problemas com acentuação*/
body{
    background-color: rgb(210, 210, 210);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}